.content {
    padding-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 16px;
    margin: auto;
}

.content__card {
    width: 100%;
    max-height: 361px;
    background-color: #fff;
    border-radius: 5px;
    display: inline-block;
    margin: 0;
}

.content__card-image {
    width: 100%;
    object-fit: cover;
    max-height: 282px;
    margin: 0;
    border-radius: 5px;
}

.content__card-description {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
}

.content__card-text {
    color:black;
    font-size: 24px;
    font-weight: 900;
    line-height: 1.2;
}

.content__card-like {
    max-width: 21px;
}