.content {
  padding-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 16px;
  margin: 0 auto;
}

.content__card {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  display: inline-block;
  margin: 0;
  max-width: 282px;
}

.content__card-image {
  width: 100%;
  object-fit: cover;
  margin: 0;
}

.content__card-description {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
}

.content__card-text {
  color: black;
  font-size: 24px;
  font-weight: 900;
  line-height: normal;
  white-space: nowrap;                  
  overflow: hidden;
  text-overflow: ellipsis; 
}

.content__card-like {
  max-width: 21px;
}

.content__card-like:hover {
  opacity: 0.6;
}

@media (min-width: 551px) and (max-width: 884px) {
  .content {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 0;
}
}

@media screen and (max-width: 550px) {
  .content {
    grid-template-columns: 1fr;
    align-items: center;
    margin: auto;
  }

  .content__card {
    max-width: 300px;
    margin: 0;
  }
}

