.page {
  font-family: "inter";
  color: #fff;
  background-color: #000000;
  margin: auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  max-width: 1280px;
  padding-left: 200px;
  padding-right: 200px;  
}

 @media (min-width: 965px) and (max-width: 1125px) {
  .page {
    padding-left: 120px;
    padding-right: 120px;
  }
}

@media (min-width: 885px) and (max-width: 964px) {
  .page {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (min-width: 728px) and (max-width: 884px) {
  .page {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (min-width: 620px) and (max-width: 727px) {
  .page {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 660px) {
  .page {
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
  }
} 


/* dificuldades para deixar responsivo */
