.profile {
  padding-top: 80px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
}

.profile__avatar {
  max-width: 120px;
  height: 120px;
  padding-right: 20px;
  margin: 0;
}

.profile__elements {
  display: flex;
}

.profile__info {
  display: flex;
  flex-direction: column;
  /* max-width: 415px;   */
  margin: 0;
}

.profile__name {
  display: flex;
  column-gap: 18px;
  width: fit-content;
}

.profile__name-p {
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  margin: 0;
  padding: 0;
  text-overflow: clip;
}

.profile__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  padding-top: 20px;
  text-overflow: clip;
}

@media (max-width: 884px) {
  .profile {
    flex-direction: column;
  }

  .profile__name-p {
    font-size: 35px;
  }
}

@media screen and (max-width: 550px) {
  .profile__elements {
    flex-direction: column;
    max-width: 320px;
  }

  .profile__name-p {
    font-size: 26px;
  }

  .profile__avatar {
    align-self: center;
  }

  .profile__text {
    font-size: 14px;
  }
}
